
$font-family-serif ?= 'Merriweather', serif;
$font-family-base ?= $font-family-serif;
$icon-font-path ?= '../../node_modules/bootstrap-styl/fonts/';

$font-family = 'Open Sans';

@import "../../node_modules/bootstrap-styl/bootstrap/index.styl";

@require 'vendors/*';

html, body {
  font: 14px/18px $font-family;
}

.main-page {
  margin-top: 30px;
}